<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlennon.admin.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.zlennon.admin.model.SysMenu">
    <id column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
    <result column="MENU_ICON" jdbcType="VARCHAR" property="menuIcon" />
    <result column="MENU_URL" jdbcType="VARCHAR" property="menuUrl" />
    <result column="MENU_TYPE" jdbcType="VARCHAR" property="menuType" />
    <result column="MENU_ORDER" jdbcType="VARCHAR" property="menuOrder" />
    <result column="MENU_STATUS" jdbcType="VARCHAR" property="menuStatus" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_MENU
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zlennon.admin.model.SysMenu">
    insert into SYS_MENU (MENU_ID, PARENT_ID, MENU_NAME, 
      MENU_ICON, MENU_URL, MENU_TYPE, 
      MENU_ORDER, MENU_STATUS)
    values (#{menuId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, 
      #{menuIcon,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, #{menuType,jdbcType=VARCHAR}, 
      #{menuOrder,jdbcType=VARCHAR}, #{menuStatus,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zlennon.admin.model.SysMenu">
    update SYS_MENU
    set PARENT_ID = #{parentId,jdbcType=VARCHAR},
      MENU_NAME = #{menuName,jdbcType=VARCHAR},
      MENU_ICON = #{menuIcon,jdbcType=VARCHAR},
      MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      MENU_TYPE = #{menuType,jdbcType=VARCHAR},
      MENU_ORDER = #{menuOrder,jdbcType=VARCHAR},
      MENU_STATUS = #{menuStatus,jdbcType=VARCHAR}
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select MENU_ID, PARENT_ID, MENU_NAME, MENU_ICON, MENU_URL, MENU_TYPE, MENU_ORDER, 
    MENU_STATUS
    from SYS_MENU
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select MENU_ID, PARENT_ID, MENU_NAME, MENU_ICON, MENU_URL, MENU_TYPE, MENU_ORDER, 
    MENU_STATUS
    from SYS_MENU
  </select>

  <select id="findSubMenuByParentId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select MENU_ID, PARENT_ID, MENU_NAME, MENU_ICON, MENU_URL, MENU_TYPE, MENU_ORDER,
    MENU_STATUS
    from SYS_MENU
    where PARENT_ID = #{parentId,jdbcType=VARCHAR}
    order by MENU_ORDER desc
  </select>

  <select id="getMaxCode" parameterType="java.lang.String"  resultType="java.lang.String">
    select Max(MENU_ORDER)
    from SYS_MENU
    where PARENT_ID = #{menuId,jdbcType=VARCHAR}
  </select>

  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into SYS_MENU
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].menuId!=null">
        MENU_ID,
      </if>
      <if test="list[0].parentId!=null">
        PARENT_ID,
      </if>
      <if test="list[0].menuName!=null">
        MENU_NAME,
      </if>
      <if test="list[0].menuIcon!=null">
        MENU_ICON,
      </if>
      <if test="list[0].menuUrl!=null">
        MENU_URL,
      </if>
      <if test="list[0].menuType!=null">
        MENU_TYPE,
      </if>
      <if test="list[0].menuOrder!=null">
        MENU_ORDER,
      </if>
      <if test="list[0].menuStatus!=null">
        MENU_STATUS,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.menuId!=null">
          #{item.menuId,jdbcType=VARCHAR},
        </if>
        <if test="item.parentId!=null">
          #{item.parentId,jdbcType=VARCHAR},
        </if>
        <if test="item.menuName!=null">
          #{item.menuName,jdbcType=VARCHAR},
        </if>
        <if test="item.menuIcon!=null">
          #{item.menuIcon,jdbcType=VARCHAR},
        </if>
        <if test="item.menuUrl!=null">
          #{item.menuUrl,jdbcType=VARCHAR},
        </if>
        <if test="item.menuType!=null">
          #{item.menuType,jdbcType=VARCHAR},
        </if>
        <if test="item.menuOrder!=null">
          #{item.menuOrder,jdbcType=VARCHAR},
        </if>
        <if test="item.menuStatus!=null">
          #{item.menuStatus,jdbcType=VARCHAR},
        </if>
      </trim>
    </foreach>
  </insert>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      update SYS_MENU
      <set>
        <if test="item.parentId!=null">
          PARENT_ID=#{item.parentId,jdbcType=VARCHAR},
        </if>
        <if test="item.menuName!=null">
          MENU_NAME=#{item.menuName,jdbcType=VARCHAR},
        </if>
        <if test="item.menuIcon!=null">
          MENU_ICON=#{item.menuIcon,jdbcType=VARCHAR},
        </if>
        <if test="item.menuUrl!=null">
          MENU_URL=#{item.menuUrl,jdbcType=VARCHAR},
        </if>
        <if test="item.menuType!=null">
          MENU_TYPE=#{item.menuType,jdbcType=VARCHAR},
        </if>
        <if test="item.menuOrder!=null">
          MENU_ORDER=#{item.menuOrder,jdbcType=VARCHAR},
        </if>
        <if test="item.menuStatus!=null">
          MENU_STATUS=#{item.menuStatus,jdbcType=VARCHAR},
        </if>
      </set>
      where 
      MENU_ID = #{item.menuId,jdbcType=VARCHAR}
    </foreach>
  </update>
</mapper>