<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.production.business.mapper.EmpMapper">
  <resultMap id="BaseResultMap" type="com.zl.production.business.model.Emp">
    <id column="EMPNO" jdbcType="DECIMAL" property="empno" />
    <result column="ENAME" jdbcType="VARCHAR" property="ename" />
    <result column="JOB" jdbcType="VARCHAR" property="job" />
    <result column="MGR" jdbcType="DECIMAL" property="mgr" />
    <result column="HIREDATE" jdbcType="TIMESTAMP" property="hiredate" />
    <result column="SAL" jdbcType="DECIMAL" property="sal" />
    <result column="COMM" jdbcType="DECIMAL" property="comm" />
    <result column="DEPTNO" jdbcType="DECIMAL" property="deptno" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from EMP
    where EMPNO = #{empno,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zl.production.business.model.Emp">
    insert into EMP (EMPNO, ENAME, JOB, 
      MGR, HIREDATE, SAL, 
      COMM, DEPTNO)
    values (#{empno,jdbcType=DECIMAL}, #{ename,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, 
      #{mgr,jdbcType=DECIMAL}, #{hiredate,jdbcType=TIMESTAMP}, #{sal,jdbcType=DECIMAL}, 
      #{comm,jdbcType=DECIMAL}, #{deptno,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zl.production.business.model.Emp">
    update EMP
    set ENAME = #{ename,jdbcType=VARCHAR},
      JOB = #{job,jdbcType=VARCHAR},
      MGR = #{mgr,jdbcType=DECIMAL},
      HIREDATE = #{hiredate,jdbcType=TIMESTAMP},
      SAL = #{sal,jdbcType=DECIMAL},
      COMM = #{comm,jdbcType=DECIMAL},
      DEPTNO = #{deptno,jdbcType=DECIMAL}
    where EMPNO = #{empno,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select EMPNO, ENAME, JOB, MGR, HIREDATE, SAL, COMM, DEPTNO
    from EMP
    where EMPNO = #{empno,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select EMPNO, ENAME, JOB, MGR, HIREDATE, SAL, COMM, DEPTNO
    from EMP
  </select>
</mapper>