<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlennon.business.mapper.ArticleTypeMapper">
  <resultMap id="BaseResultMap" type="com.zlennon.business.model.ArticleType">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_desc" jdbcType="VARCHAR" property="typeDesc" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from article_type
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zlennon.business.model.ArticleType">
    insert into article_type (id, type_name, type_desc
      )
    values (#{id,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zlennon.business.model.ArticleType">
    update article_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      type_desc = #{typeDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, type_name, type_desc
    from article_type
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, type_name, type_desc
    from article_type
  </select>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into article_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].id!=null">
        id,
      </if>
      <if test="list[0].typeName!=null">
        type_name,
      </if>
      <if test="list[0].typeDesc!=null">
        type_desc,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.id!=null">
          #{item.id,jdbcType=VARCHAR},
        </if>
        <if test="item.typeName!=null">
          #{item.typeName,jdbcType=VARCHAR},
        </if>
        <if test="item.typeDesc!=null">
          #{item.typeDesc,jdbcType=VARCHAR},
        </if>
      </trim>
    </foreach>
  </insert>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      update article_type
      <set>
        <if test="item.typeName!=null">
          type_name=#{item.typeName,jdbcType=VARCHAR},
        </if>
        <if test="item.typeDesc!=null">
          type_desc=#{item.typeDesc,jdbcType=VARCHAR},
        </if>
      </set>
      where 
      id = #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
</mapper>