<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlennon.admin.mapper.SysDictTypeMapper">
  <resultMap id="BaseResultMap" type="com.zlennon.admin.model.SysDictType">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
    <result column="DEL_FLAG" jdbcType="VARCHAR" property="delFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_dict_type
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zlennon.admin.model.SysDictType">
    insert into sys_dict_type (ID, TYPE_NAME, DESCRIPTION, 
      CREATE_BY, CREATE_DATE, UPDATE_BY, 
      UPDATE_DATE, DEL_FLAG)
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=DATE}, #{delFlag,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zlennon.admin.model.SysDictType">
    update sys_dict_type
    set TYPE_NAME = #{type,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=DATE},
      DEL_FLAG = #{delFlag,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByQueryParams" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, TYPE_NAME, DESCRIPTION, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, DEL_FLAG
    from sys_dict_type
    where CONCAT(IFNULL(`TYPE_NAME`,'')) LIKE  '%${search}%'
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, TYPE_NAME, DESCRIPTION, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, DEL_FLAG
    from sys_dict_type
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, TYPE_NAME, DESCRIPTION, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, DEL_FLAG
    from sys_dict_type
  </select>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into sys_dict_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].id!=null">
        ID,
      </if>
      <if test="list[0].type!=null">
        TYPE_NAME,
      </if>
      <if test="list[0].description!=null">
        DESCRIPTION,
      </if>
      <if test="list[0].createBy!=null">
        CREATE_BY,
      </if>
      <if test="list[0].createDate!=null">
        CREATE_DATE,
      </if>
      <if test="list[0].updateBy!=null">
        UPDATE_BY,
      </if>
      <if test="list[0].updateDate!=null">
        UPDATE_DATE,
      </if>
      <if test="list[0].delFlag!=null">
        DEL_FLAG,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.id!=null">
          #{item.id,jdbcType=VARCHAR},
        </if>
        <if test="item.type!=null">
          #{item.type,jdbcType=VARCHAR},
        </if>
        <if test="item.description!=null">
          #{item.description,jdbcType=VARCHAR},
        </if>
        <if test="item.createBy!=null">
          #{item.createBy,jdbcType=VARCHAR},
        </if>
        <if test="item.createDate!=null">
          #{item.createDate,jdbcType=DATE},
        </if>
        <if test="item.updateBy!=null">
          #{item.updateBy,jdbcType=VARCHAR},
        </if>
        <if test="item.updateDate!=null">
          #{item.updateDate,jdbcType=DATE},
        </if>
        <if test="item.delFlag!=null">
          #{item.delFlag,jdbcType=VARCHAR},
        </if>
      </trim>
    </foreach>
  </insert>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      update sys_dict_type
      <set>
        <if test="item.type!=null">
          TYPE_NAME=#{item.type,jdbcType=VARCHAR},
        </if>
        <if test="item.description!=null">
          DESCRIPTION=#{item.description,jdbcType=VARCHAR},
        </if>
        <if test="item.createBy!=null">
          CREATE_BY=#{item.createBy,jdbcType=VARCHAR},
        </if>
        <if test="item.createDate!=null">
          CREATE_DATE=#{item.createDate,jdbcType=DATE},
        </if>
        <if test="item.updateBy!=null">
          UPDATE_BY=#{item.updateBy,jdbcType=VARCHAR},
        </if>
        <if test="item.updateDate!=null">
          UPDATE_DATE=#{item.updateDate,jdbcType=DATE},
        </if>
        <if test="item.delFlag!=null">
          DEL_FLAG=#{item.delFlag,jdbcType=VARCHAR},
        </if>
      </set>
      where 
      ID = #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
</mapper>