<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlennon.admin.mapper.SysPermissionMapper">
  <resultMap id="BaseResultMap" type="com.zlennon.admin.model.SysPermission">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PDESC" jdbcType="VARCHAR" property="pdesc" />
    <result column="PNAME" jdbcType="VARCHAR" property="pname" />
    <result column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_permission
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zlennon.admin.model.SysPermission">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      select seq_sys_permission.nextval from dual
    </selectKey>
    insert into sys_permission (ID, PDESC, PNAME, 
      MENU_ID)
    values (#{id,jdbcType=VARCHAR}, #{pdesc,jdbcType=VARCHAR}, #{pname,jdbcType=VARCHAR}, 
      #{menuId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zlennon.admin.model.SysPermission">
    update sys_permission
    set PDESC = #{pdesc,jdbcType=VARCHAR},
      PNAME = #{pname,jdbcType=VARCHAR},
      MENU_ID = #{menuId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, PDESC, PNAME, MENU_ID
    from sys_permission
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByQueryParams" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, PDESC, PNAME, MENU_ID
    from sys_permission
    WHERE CONCAT(IFNULL(`PNAME`,'')) LIKE  '%${search}%'
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select ID, PDESC, PNAME, MENU_ID
    from sys_permission
  </select>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into sys_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].id!=null">
        ID,
      </if>
      <if test="list[0].pdesc!=null">
        PDESC,
      </if>
      <if test="list[0].pname!=null">
        PNAME,
      </if>
      <if test="list[0].menuId!=null">
        MENU_ID,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.id!=null">
          #{item.id,jdbcType=VARCHAR},
        </if>
        <if test="item.pdesc!=null">
          #{item.pdesc,jdbcType=VARCHAR},
        </if>
        <if test="item.pname!=null">
          #{item.pname,jdbcType=VARCHAR},
        </if>
        <if test="item.menuId!=null">
          #{item.menuId,jdbcType=VARCHAR},
        </if>
      </trim>
    </foreach>
  </insert>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      update sys_permission
      <set>
        <if test="item.pdesc!=null">
          PDESC=#{item.pdesc,jdbcType=VARCHAR},
        </if>
        <if test="item.pname!=null">
          PNAME=#{item.pname,jdbcType=VARCHAR},
        </if>
        <if test="item.menuId!=null">
          MENU_ID=#{item.menuId,jdbcType=VARCHAR},
        </if>
      </set>
      where 
      ID = #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
</mapper>